.styler{
    color: aqua;
    text-shadow: 2px 2px 1px black;
    display: block;
    text-align: center;
    box-sizing: border-box;
}

img{
    filter: grayscale();
    height: 200px;
    width:110px;
    border: 4px solid black;
    margin: 4px;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50px;
    transform:rotateY(180deg);
    box-shadow: -2px 2px 4px black;
}

img:hover{
    height: 200px;
    width: 200px;
    border: 4px solid black;
    filter: none;
    display: inline-block;
    transform:none;
}